apiVersion: apps/v1
kind: Deployment
metadata:
  name: newsfeed-deployment
  labels:
    app: newsfeed-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: newsfeed-app
  template:
    metadata:
      labels:
        app: newsfeed-app
    spec:
      containers:
        - name: newsfeed-app
          image: newsfeed-app:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 20
